<h1>Themes</h1>

<% if @themes.size > 0 %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @themes.each do |theme| %>
    <tr>
      <td><%= theme.name %></td>
      <td>
        <%= link_to 'Edit', edit_theme_path(theme) %>
        <%= link_to 'Delete', theme_path(theme), method: :delete, confirm: "Are you sure?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Create Theme', new_theme_path %>