ul.glyphs {
  list-style-type: none;

  li {
    width: 20%;
    float: left;
    text-align: center;

    label {
      font-size: 72px;
      font-family: glyph-preview;
      margin: 1em 0 0.5em;
      display: block;
    }

    input {
      display: block;
      text-align: center;
    }

  }
}

footer {
  text-align: right;
  margin-top: 1em;
}